*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

body, html {
    font-size: 62.5%;
    font-family: arial;
}


/* WELCOME PAGE */


.welcome {
    display: flex;
    justify-content: center;
}

.welcome__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100vh;
    width: 50vw;
}

.title {
    display: flex;
    align-self: center;
    font-size: 15rem;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2rem;
    text-shadow: -5px 24px 22px rgba(150, 150, 150, 0.37);
}
.title__t {
    color: rgb(201, 0, 0);
    font-size: 11rem;
}
.title__e {
    color: rgb(0, 64, 201);
    font-size: 13rem;
}
.title__a {
    color: rgb(55, 194, 0);
    font-size: 18rem;
}
.title__m {
    color: rgb(230, 214, 3);
    font-size: 24rem;
}

.subtitle {
    align-self: center;

    font-size: 3rem;
    font-family: 'Amatic SC', cursive;
    letter-spacing: .5rem;
}

.welcome__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100vh;
    width: 50vw;
}


/*  REGISTRATION AND LOGIN  */


.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.registration__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    font-size: 3rem;
    width: 30vw;
    height: 5vh;
    padding: 5px;
    margin: 10px;
    line-height: 20px;
    font-weight: bold;
    font-size: 2em;
    align-self: center;
    border: none;
    border-bottom: 1px solid #BBB;
}

.input:focus {
    outline: none;
    color: #222;
    border-bottom: 1px solid rgb(182, 165, 17);
}

.btn__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    width: 30%;
    margin-top: 2vh;
    border: none;
    outline: none;
    font-size: 2rem;
    cursor: pointer;
    transition: all .2s;
}

.btn:hover,
.btn:focus {
    transform: translateY(-.15rem) scale(1.1);
    text-shadow: 6px 6px 40px rgba(29, 29, 29, .2);
}

.btn:active {
    outline: none;
    transform: translateY(.15rem) scale(1.1);
    text-shadow: 6px 6px 40px rgba(29, 29, 29, .3);
}

.login__link {
    font-size: 1.4rem;
}

.alert {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.error {
    color:  red;
}

.form-group {
    position: relative;
    padding-top: 16px;
    margin-bottom: 16px;
}

.animated-label {
    position: absolute;
    top: 45px;  /* then 20px */
    left: 20px; /* then 0px */
    z-index: 2;
    width: 100%;
    font-size: 1rem;
    color: #666;
    font-weight: 700;
    opacity: 0.5;
    cursor: text;
    opacity: 0;
    transition: all .2s ease ;
    margin: 0;
}

.input::-webkit-input-placeholder {opacity: 0.8; transition: all .2s ease}
.input:focus:-moz-placeholder {opacity: 0.8; transition: all .2s ease}

.input:focus::-webkit-input-placeholder { opacity: 0; font-size: 1rem; transform: translate(-15px, -25px) }
.input:focus:-moz-placeholder { opacity: 0; font-size: 1rem; transform: translate(-15px, -25px) }

.input:focus + .animated-label {
    /* transform: translateY(-10px); */
    top: 20px;
    left: 0px;
    opacity: .8;
}

.input:not(:placeholder-shown) + .animated-label {
    /* transform: translateY(-10px); */
    top: 20px;
    left: 0px;
    opacity: .8;
}

.input:not(:placeholder-shown) {
    border-bottom: 1px solid rgb(182, 165, 17);
}


/*  APP  */


.app__container {
    font-size: 3rem;
}

.logout {
    cursor: pointer;
}


/*  HEADER  */


.header__container {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    width: 100vw;
    background: rgb(0, 64, 201);
}

.title__header {
    display: flex;
    align-self: center;
    font-family: 'Amatic SC', cursive;
    letter-spacing: .2rem;
    text-shadow: -5px 24px 22px rgba(150, 150, 150, 0.37);
    margin-left: 2vw;
    cursor: pointer;
}
.title__t__header {
    color: rgb(201, 0, 0);
    font-size: 2.9rem;
}
.title__e__header {
    color: #FFF;
    font-size: 2.9rem;
}
.title__a__header {
    color: rgb(55, 194, 0);
    font-size: 2.9rem;
}
.title__m__header {
    color: rgb(230, 214, 3);
    font-size: 2.9rem;
}

.header__container .user__icon {
    height: 4vh;
    width: auto;
    cursor: pointer;
}

.header__container .user-picture {
    height: 4vh;
    margin-right: 1vw;
}

.userPicture {
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.defaut_picture {
    height: 4vh;
    width: 4vh;
    background: #fff;
    color: rgb(0, 64, 201);
    border-radius: 50%;
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    line-height: 4vh;
    cursor: pointer;
}

.header__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30vw;
    margin-right: 2vw;
}

.greeting__user {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    color: #FFF;
    margin-right: 1vw;
}


/*  EDIT USER PROFILE  */

.userEditor__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 5vh;
    right: 0;
    height: 50vh;
    width: 30vw;
    border: 1px solid #BBB;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: -4px 5px 14px -5px rgba(0,0,0,0.35);
}

.form-group__edit {
    display: flex;
    padding-top: 5px;
    margin-bottom: 5px;
}

.input-edit {
    font-size: 1rem;
    width: 20vw;
    height: 3vh;
    padding: 2px;
    margin: 2px;
    font-weight: bold;
    align-self: center;
    border: none;
    border-bottom: 1px solid #BBB;
}

.input-edit:focus {
    outline: none;
    color: #222;
    border-bottom: 1px solid rgb(182, 165, 17);
}

.input-edit:not(:placeholder-shown) {
    border-bottom: 1px solid rgb(182, 165, 17);
}


.image-upload__input {
    width: 1px;
    visibility: hidden;
}

.image-upload__show {
    width: 20vw;
    height: 3vh;
    font-size: 1rem;
    color: #666;
    font-weight: 700;
    line-height: 3vh;
    padding-left: 2px;
    cursor: text;
    width: 20vw;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    border-bottom: 1px solid #BBB;
}

.input-edit__label {
    font-size: 1rem;
    color: #666;
    font-weight: 700;
    line-height: 3vh;
    padding-left: 2px;
    cursor: text;
    width: 18vw;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.radio__container {
    display: flex;
    flex-direction: column;
    
}

.input-edit__radio {
    width: 2vw;
    height: 3vh;
    margin: 0 5px;
}


/*  USER TOOL BAR */


.userToolBar__container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 15vw;
    min-width: 180px;
    background: #E9EBEE;
}

.toolBar-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    padding-left: 30px;
    cursor: pointer;
}

.toolBar-menu:hover {
    background: #FFF;
}

.user-header {
    margin-top: 20px;
}

.user-header .userPicture {
    height: 3vh;
    width: 3vh;
}

.user-header .user__icon {
    height: 3vh;
    width: 3vh;
}

.user-header__name {
    font-size: 1.3rem;
    margin-left: 10px;
}

.user-folders {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.toolBar__title {
    font-size: 1.3rem;
    margin-left: 10px;
}

.toolBar__icon {
    height: 3vh;
    width: 3vh;
}


/* TOOLBAR NOTES */


.toolBarNotes__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-height: 30vh;
    margin-bottom: 10px;
    margin-left: 40px;
    overflow: scroll;
}

.toolBarNotes__folder {
    display: flex;
    justify-content: flex-start;
    padding: 5px 0;
    cursor: pointer;
}

.toolBarNotes__folder:hover {
    background: #FFF;
}

.toolBarNotes__icon {
    height: 2vh;
    width: 2vh;
}

.toolBarNotes__title {
    font-size: 1.3rem;
    margin-left: 10px;
}

/*  TOOLBAR FILES */

.toolBarFiles__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-height: 30vh;
    margin-bottom: 5px;
    margin-left: 10px;
    overflow: scroll;
}

.toolBarFiles__folder {
    display: flex;
    justify-content: flex-start;
    padding: 5px 0;
    cursor: pointer;
}

.toolBarFiles__folder:hover {
    background: #FFF;
}

.toolBarFiles__icon {
    height: 2vh;
    width: 2vh;
}

.toolBarFiles__title {
    font-size: 1.2rem;
    margin-left: 5px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
}